html, body {
    font-family: poppins, sans-serif;
}

.navbar-brand {
    font-size: 1.9rem;
}

i {
    font-size: 30px;
}

.nav-item {
    font-size: 1.2rem;
}

.nav-link {
    margin-right: 20px;
}
.nav-link:hover {
    text-decoration: underline;

}
.btn-1 {
    width: 130px;
    text-align: center;
}
.btn-1:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.effet-img:hover {
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}
.container-project-one:hover {
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
}
.btn-contact:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 2px 2px 15px #0d6efd;
}
.link-footer:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.4s;
}
/*
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
} */
.poppins-black {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}